# Node build artifacts
node_modules/
.idea/
github.php
npm-debug.log
/config.js

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

#only for autodeploy purposes because of paths mistakes on localhost and prod
