@import url(reset.css);
html {
  box-sizing: border-box;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  background-color: #ededed;
  background-image: url("../img/pattern.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  min-height: max-content; }

body {
  padding: 0 2rem;
  min-height: max-content;
  position: relative; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

*,
*::before,
*::after {
  box-sizing: inherit; }

.hidden {
  position: absolute;
  left: -10000px; }

.visible, .sidebar__additional .tooltip:hover .tooltiptext {
  visibility: visible !important;
  opacity: 1 !important; }

.invisible, .content-wrapper--login .header .new-room .room_choice, .form .avatars, .modal, .sidebar__additional .tooltip .tooltiptext, .main .write-form .emojis__container {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear; }

.bordered, .content-wrapper--login {
  border: 1px solid rgba(52, 22, 22, 0.13); }

.flex-centered, .content-wrapper--login .header, .form .avatars, .modal, .modal__form {
  display: flex;
  justify-content: center;
  align-items: center; }

.wrapper {
  display: flex;
  max-width: 863px;
  margin: 0 auto;
  height: 100vh;
  flex-direction: column;
  min-height: max-content; }

.header {
  position: relative;
  padding: 2em 2em 1.4em;
  height: 6rem;
  color: #fff;
  background-color: #11539b; }
  .header h2 {
    font-size: 1.333em;
    font-weight: 300; }

.hamburger {
  width: 25px;
  height: 19px;
  position: absolute;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 5;
  top: 1.9rem;
  left: 1.5rem;
  display: none; }
  .hamburger:hover {
    color: #fff; }
  .hamburger.open {
    height: 19px; }
    .hamburger.open span {
      background: #fff; }
      .hamburger.open span:nth-child(1) {
        top: 8px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg); }
      .hamburger.open span:nth-child(2) {
        opacity: 0;
        left: -60px; }
      .hamburger.open span:nth-child(3) {
        top: 8px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg); }
  .hamburger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #002d64;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
    .hamburger span:nth-child(1) {
      top: 0px; }
    .hamburger span:nth-child(2) {
      top: 8px; }
    .hamburger span:nth-child(3) {
      top: 16px; }

.content-wrapper--login {
  margin: 0.5em 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: max-content; }
  .content-wrapper--login > .header {
    background-color: #002d64; }
  .content-wrapper--login .header {
    min-height: 4.3rem; }
    .content-wrapper--login .header h1 {
      font-size: 2.4rem;
      text-align: center; }
    .content-wrapper--login .header h2 {
      flex: 1;
      text-align: center; }
    .content-wrapper--login .header .new-room {
      margin-right: 1.5rem;
      margin-bottom: 0.5rem;
      position: relative;
      border: 1px solid #fff;
      border-radius: 50%;
      height: 2.25rem;
      width: 2.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
      .content-wrapper--login .header .new-room .room_choice {
        position: absolute;
        right: 3em;
        top: -0.4rem;
        width: 9.8rem;
        background-color: #fff;
        color: #000;
        z-index: 2;
        border-radius: 12px;
        box-shadow: -1px 1px 11px -2px rgba(0, 0, 0, 0.75); }
        .content-wrapper--login .header .new-room .room_choice::after {
          content: '';
          position: absolute;
          width: 1.267em;
          height: 1.533em;
          top: 0.2em;
          right: -0.8em;
          background-image: url("../img/room-tip.png");
          z-index: -1; }
        .content-wrapper--login .header .new-room .room_choice span {
          display: block;
          padding: 0.95rem 1em;
          cursor: pointer;
          text-align: center;
          transition: background-color 0.2s linear; }
          .content-wrapper--login .header .new-room .room_choice span:nth-child(1) {
            border-bottom: 1px solid #ededed;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px; }
          .content-wrapper--login .header .new-room .room_choice span:nth-child(2) {
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px; }
          .content-wrapper--login .header .new-room .room_choice span:hover {
            background-color: #b4ca74;
            color: #fff; }
      .content-wrapper--login .header .new-room__add {
        max-height: 100%;
        font-size: 2.8rem;
        position: relative;
        top: -0.4rem;
        font-weight: 300; }
  .content-wrapper--login main {
    padding: 1.4rem 2.4rem 1em;
    flex: 1;
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
    min-height: max-content; }

.form {
  max-width: 49%;
  margin-right: 1rem;
  background-color: #fff;
  flex-basis: 50%;
  align-self: flex-start; }
  .form .header {
    padding: 1.3rem 0 1rem 0;
    height: 4.3rem; }
    .form .header h2 {
      text-align: left;
      padding-left: 2rem; }
  .form__credentials {
    padding: 1rem 2em;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column; }
  .form__input {
    padding: 0.6rem 1.5em;
    color: #383838;
    border-radius: 12px;
    border: none;
    background-color: #ededed; }
    .form__input:focus {
      color: #383838;
      outline: none;
      outline: 0;
      box-shadow: 0 0 0 0.1rem rgba(17, 83, 155, 0.25); }
  .form__label {
    font-size: 0.6em;
    color: #b0b0b0;
    font-style: italic;
    padding-left: 2em;
    padding-top: 0.5em;
    margin-bottom: 0.2rem; }
  .form__inputgroup {
    color: #383838;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 0.7rem;
    position: relative;
    font-family: "Roboto", sans-serif; }
  .form .avatars {
    background-color: #fff;
    border: 1px solid #b0b0b0;
    position: absolute;
    bottom: 3em;
    width: 100%;
    max-height: 40vh;
    flex-wrap: wrap;
    height: 350px;
    overflow-y: scroll; }

.avatar_img {
  max-width: 70px;
  margin: 0.4em;
  cursor: pointer; }

.avatar_chosen {
  max-width: 50px;
  margin: 0.4rem 0.8rem 0.4rem 0;
  cursor: pointer;
  border-radius: 50%; }

.chat-rooms {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: stretch; }
  .chat-rooms .header {
    padding: 1.3rem 0 1rem 0;
    height: 4.3rem; }
    .chat-rooms .header h2 {
      text-align: left;
      padding-left: 2rem; }

.selected, .rooms__item:hover {
  background-color: #daeefe !important; }

.rooms {
  flex: 1;
  background-color: #fff; }
  .rooms__item {
    cursor: pointer;
    position: relative;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 1.05rem;
    font-weight: 200;
    color: #383838;
    padding: 1.8rem 2rem;
    border-bottom: 1px solid #cfcfcf;
    margin-top: 1px; }
    .rooms__item .round-button {
      position: absolute;
      right: 0;
      margin-right: 2em;
      top: 1.45rem; }
    .rooms__item:hover .round-button {
      background-color: #b4ca74; }
  .rooms__number {
    display: inline-block;
    margin-right: 0.2rem; }
  .rooms .overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ededed; }

.round-button {
  padding: 0.3em 1.6rem;
  background-color: #67a0d9;
  border-radius: 12px;
  color: #fff;
  transition: background-color 0.2s ease-in;
  cursor: pointer;
  border: none; }
  .round-button:hover {
    background-color: #b4ca74; }

.modal {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); }
  .modal .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 0 1rem 0;
    height: 4.3rem; }
    .modal .header h2 {
      text-align: left;
      padding-left: 2rem; }
  .modal__window {
    background-color: #fff;
    width: 30em;
    max-width: 90%;
    height: 15em;
    max-height: 70%;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75); }
  .modal__heading {
    font-size: 2em;
    text-align: center; }
  .modal__form {
    flex-direction: column;
    padding: 0 2rem; }
  .modal .form__input {
    margin: 3em auto;
    width: 100%; }
  .modal .close_modal {
    position: absolute;
    right: 1rem;
    cursor: pointer;
    transform: rotate(45deg);
    font-weight: 200;
    font-size: 2rem; }

.content-wrapper {
  margin: 0.5em 0;
  display: flex;
  flex: 1;
  border-bottom: none;
  overflow: hidden;
  position: relative; }

.info-message {
  font-style: italic;
  padding: 0.2em 4.2em;
  font-size: 13px;
  color: #b0b0b0; }

.info-message + .message {
  margin-top: 1.533em; }

.message + .info-message {
  margin-top: 1.533em; }

.message + .message {
  margin-top: 0.6em; }

.message + .same {
  margin-top: 0.2em; }

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30.2%;
  min-width: 200px;
  height: 100%;
  background-image: linear-gradient(#dae8f6, #82aed6);
  transition: left 0.3s ease-out;
  z-index: 4; }
  .sidebar .header {
    padding: 2em 2em 1.4em;
    color: #fff;
    height: 4.667em;
    background-color: #11539b;
    border-bottom: 1px solid #b0b0b0;
    display: flex;
    align-items: center; }
  .sidebar .visitors {
    flex-grow: 1; }
  .sidebar__additional {
    height: 4.2em;
    background-color: #11539b;
    padding: 1em 2em;
    display: flex;
    align-items: center;
    position: relative; }
    .sidebar__additional .invite {
      color: #fff;
      padding: 0 1em; }
    .sidebar__additional .share-icon {
      cursor: pointer; }
    .sidebar__additional .tooltip {
      display: flex;
      align-items: center; }
      .sidebar__additional .tooltip .tooltiptext {
        background-color: white;
        color: black;
        text-align: center;
        padding: 0.5em 1em;
        border-radius: 6px;
        border: 1px solid #11539b;
        white-space: nowrap;
        position: absolute;
        top: -1.5em;
        left: -1.5em;
        z-index: 5; }
      .sidebar__additional .tooltip:hover::after {
        content: "";
        position: absolute;
        top: 0.6rem;
        left: 15%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: white transparent transparent transparent; }
  .sidebar .visitor {
    padding: 0.65em 2em;
    box-shadow: 0 2px 3px -3px rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center; }
    .sidebar .visitor__image {
      max-width: 3.4em;
      margin-right: 1em; }
      .sidebar .visitor__image img {
        width: 100%;
        height: auto;
        border-radius: 50%; }
    .sidebar .visitor__name {
      color: #383838; }

.additional-links {
  display: flex;
  align-items: center; }
  .additional-links .return, .additional-links .volume {
    display: inline-block;
    cursor: pointer; }

.volume {
  background: url("../img/volume-on.png") no-repeat;
  width: 1.8em;
  height: 1.8em; }
  .volume.off {
    background: url("../img/volume-off.png") no-repeat; }

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  z-index: 2; }
  .main header {
    padding: 2em 2em 1.4em;
    background-color: #fff;
    border-bottom: 1px solid #b0b0b0;
    height: 4.667em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2; }
    .main header h2 {
      font-size: 1.333em; }
    .main header .return {
      font-family: Roboto, sans-serif;
      text-decoration: none;
      margin-right: 3em;
      cursor: pointer;
      color: #000;
      position: relative; }
      .main header .return img {
        position: relative;
        top: 0.267em;
        right: 0.267em; }
  .main .messages-wrapper {
    background-color: #fff;
    padding: 1em 2em;
    flex: 1; }
    .main .messages-wrapper .message {
      display: flex;
      position: relative; }
      .main .messages-wrapper .message.current {
        justify-content: flex-end; }
        .main .messages-wrapper .message.current .message__image {
          display: none; }
        .main .messages-wrapper .message.current .message__text {
          background-color: #dae8f6;
          margin-right: initial; }
          .main .messages-wrapper .message.current .message__text::after {
            content: '';
            position: absolute;
            width: 1.267em;
            height: 1.533em;
            top: 0.2em;
            right: -0.8em;
            background-image: url("../img/msg-tip-current.png"); }
          .main .messages-wrapper .message.current .message__text::before {
            content: none; }
        .main .messages-wrapper .message.current .message__time {
          margin-left: 0; }
      .main .messages-wrapper .message.same .message__text::after, .main .messages-wrapper .message.same .message__text::before {
        content: none; }
      .main .messages-wrapper .message__time {
        font-weight: 300;
        font-family: Roboto, sans-serif;
        font-size: 0.6em;
        padding: 1.444em 0 1em 1em;
        flex-basis: 9%; }
      .main .messages-wrapper .message__text {
        flex-basis: 80%;
        background-color: #ededed;
        padding: 0.8em 1em;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        position: relative;
        margin-right: auto; }
        .main .messages-wrapper .message__text p {
          line-height: 1.2em; }
        .main .messages-wrapper .message__text::before {
          content: '';
          position: absolute;
          width: 1.267em;
          height: 1.533em;
          top: 0.2em;
          left: -0.8em;
          background-image: url("../img/msg-tip.png"); }
        .main .messages-wrapper .message__text .emoji {
          max-height: 1.5em; }
      .main .messages-wrapper .message__image {
        margin-right: 0.7em;
        margin-top: 0.667em;
        flex-basis: 6%; }
        .main .messages-wrapper .message__image img {
          width: 100%;
          height: auto;
          border-radius: 50%; }
      .main .messages-wrapper .message .name {
        display: block;
        font-size: 0.867em;
        font-family: 'Roboto', sans-serif;
        color: #b0b0b0;
        margin-bottom: 0.5em; }
  .main .write-form {
    display: flex;
    align-items: center;
    border-top: 1px solid #b0b0b0;
    padding: 1em 2em;
    height: 4.2em;
    background-color: #fff; }
    .main .write-form .input-group {
      display: flex;
      align-items: center;
      flex: 1;
      position: relative; }
    .main .write-form .send-message-icon {
      display: block;
      margin-left: 1em;
      font-size: 1.5em;
      cursor: pointer; }
    .main .write-form .input-send {
      flex: 1;
      position: relative; }
    .main .write-form .msg {
      padding: 0.7em 2em 0.7em 1.5em;
      height: 2.8em;
      width: 100%;
      resize: none;
      border-radius: 20px;
      background-color: #ededed;
      border-color: transparent;
      -webkit-transition: border-color 0.2s linear;
      -moz-transition: border-color 0.2s linear;
      -ms-transition: border-color 0.2s linear;
      -o-transition: border-color 0.2s linear;
      transition: border-color 0.2s linear; }
      .main .write-form .msg:focus {
        outline: none;
        border-color: #11539b; }
    .main .write-form .emojis {
      position: absolute;
      right: 1em;
      top: 0.35em;
      font-size: 1.5em;
      color: #aaa2a2;
      cursor: pointer; }
      .main .write-form .emojis:hover {
        color: #b0b0b0; }
      .main .write-form .emojis__container {
        position: absolute;
        bottom: 1em;
        right: 0;
        width: 8em;
        height: 7em;
        background-color: #fff;
        border: 1px solid #ededed;
        padding: 0.5em;
        overflow-y: scroll; }
      .main .write-form .emojis__item {
        display: inline-block;
        padding: 0.2em; }
        .main .write-form .emojis__item img {
          max-height: 1em; }

@media all and (max-width: 660px) {
  .content-wrapper--login main {
    display: block;
    min-height: inherit; }
  .content-wrapper--login .form {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 1.5rem; }
  .content-wrapper--login .chat-rooms {
    display: block; }

  .content-wrapper .sidebar {
    position: absolute;
    left: -14rem;
    width: 14rem;
    opacity: 0.9; }
    .content-wrapper .sidebar .header {
      padding-left: 4.5rem; }
    .content-wrapper .sidebar.open {
      left: 0; }
  .content-wrapper .main header h2 {
    margin-left: 2rem; }

  .hamburger {
    display: block; } }
@media all and (max-width: 480px) {
  body {
    padding: 0 1rem; }

  .content-wrapper--login main {
    display: block;
    min-height: inherit;
    padding: 1em; }

  .content-wrapper .return__text {
    display: none; } }

/*# sourceMappingURL=styles.css.map */
